@media screen and (min-width: 640px) {
    .icon-menu {
        visibility: hidden;
        
    }
}

@media screen and (max-width: 640px) {
     .main-nav ul {
        display: none;
        content: " ";
        clear: both;
    }
    .icon-menu {
        visibility: visible;
        float: right;
        font-size: 2.5em;
    }

    .heading-group-h1 {
        float: left;
    } 
    .main-nav:hover ul {
        display: block;
    }
    .main-nav:hover ul li {
        display: block;
        margin: 10px;   
    }

}
#articles article:nth-child(1) {
    display: none;
}